.KickstartContainer{
    padding: 30px;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.KickstartContainer>img{
    width: 60px;
    margin-bottom: 10px;
}

.KickstartContainer h4{
    font-size: 1.8rem;
    color: green;
}

.KickstartContainer p{
    font-size: 1.6rem;
    font-weight: 600;
}

.KickstartContainer>a{
    font-weight: 550;
    padding : 10px 30px;
    font-size: 1.4rem;
    color: green;
    background-color: transparent;
    border: 2px solid rgba(0, 128, 0, 0.445);
    border-radius: 5px;
    margin-top: 10px;
}