.ForgotPasswordContainer{
    width: 45rem;
    background-color: #f8f9f9;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.ForgotPasswordContainer h3{
    font-size: 2.2rem;
    color: rgb(70, 70, 70);
}

.ForgotPasswordContainer p.subHeading{
    font-size: 1.4rem;
    padding-inline: 20px;
    text-align: center;
    color: #68737D;
    line-height: 2rem;
}


.ForgotPasswordContainer form{
    flex-grow: 1;
    align-self: stretch;
}

.signup{
    color: #68737D;
    font-weight: 10;
}

.signupForgot a{
    color: #337fbd;
    text-decoration: underline;
}


/* -------------------------- form ---------- */
.inputContainer{
    margin-bottom: 15px;
}

.inputContainer>p{
    font-size: 1.4rem;
    color: rgb(255, 68, 68);
}
.inputBox{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px ;
    border: 1.5px solid rgb(201, 201, 201);
    margin-bottom: 5px;
}

.inputBox input{
    flex-grow: 1;
    font-size: 1.5rem;
    outline: none;
    border: none;
    padding: 5px ;
}
